/* 基础样式表 */
html,body,blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font: 400 12px/1.6 arial,sans-serif;
}
ul,li{
    list-style:none;
}
